body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#game-start {
  display: flex;

  margin: 20px auto;
  max-width: 800px;
  height: 70vh;

  flex-direction: column;
  justify-content: center;
  padding: 20px, 0px;
  background-image: url(../images/bg_temp.png);
  background-size: cover;
  position: relative;

  color: white;
}

#game-start-hidden {
  display: none;
}

#game-container {
  display: flex;

  margin: 20px auto;
  max-width: 800px;
  height: 70vh;

  overflow: hidden;
  position: relative;
  background-image: url(../images/bg_temp.png);
  background-size: cover;
}

#game-container-hidden {
   display: none;
   flex-direction: column;
}

#game-lose {
  display: flex;

  margin: 20px auto;
  max-width: 800px;
  height: 70vh;

  background-image: url(../images/bg_temp.png);
  background-size: cover;
  position: relative;
}

#game-lose-hidden {
  display: none;
}

#game-win {
  display: flex;

  margin: 20px auto;
  max-width: 800px;
  height: 70vh;

  background-image: url(../images/bg_temp.png);
  background-size: cover;
  position: relative;
}

#game-win-hidden {
  display: none;
}