body {
  margin: 0;
  padding: 0;
  text-align: center;
  color:white
 
}

#game-start {
  /* display: none; */
}

#game-container {
  display: none;
  align-content: center;
  position:relative;
  background-image: url(../images/bg_temp.png);
  background-size: cover;

}

#game-end {
}